// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#f38f18"}};
$color-secondary: {{.color_secondary | default "#013366"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$dark: {{.dark | default "#222"}};
$light: {{.light | default "#EDF6F5"}};


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';
@import '../bootstrap/scss/preloader';
@import '../bootstrap/scss/mixins';
@import '../bootstrap/scss/typography';
@import '../bootstrap/scss/buttons';
@import '../bootstrap/scss/common';
@import '../bootstrap/scss/templates/navigation';
@import '../bootstrap/scss/templates/main';
@import '../bootstrap/scss/notice';
@import '../bootstrap/scss/tabs';
@import '../bootstrap/scss/collapse';
@import '../bootstrap/scss/social-share';
@import '../bootstrap/scss/toc';
@import '../bootstrap/scss/custom';
@import '../bootstrap/scss/search';

{{ if site.Params.image_gallery }}
@import '../bootstrap/scss/gallery';
{{ end }}
