<div style="padding-top: 4em;">
  <nav class="ui fixed inverted menu" style="z-index: 1000;">
  <div class="ui container">
    <a href="/" class="header item">
      JP Technical
    </a>

  

    <div class="ui simple dropdown item">
      Services <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/services">Overview</a>
        <a class="item" href="/remote-support">Remote Support</a>
        <a class="item" href="/antivirus-security">EDR & Antivirus</a>
        <a class="item" href="/backup">SaaS Backup</a>
        <a class="item" href="/print-management">Print Management</a>
        <a class="item" href="/patching">Patch Management</a>
        <a class="item" href="/license-management">License Management</a>
        <a class="item" href="/risk-management">BCDR & Risk Mgmt</a>
      </div>
    </div>

    <a href="/pricing" class="item">Pricing</a>
    <a href="/cybersecurity-self-exam" class="item">Cybersecurity Exam</a>
    <a href="/hipaa" class="item">HIPAA Compliance</a>
    <a href="/contact" class="item">Contact</a>

    <div class="right menu">
      </div>
      <a href="https://jptechnical.benjipays.com" class="item" target="_blank">
        Billing Portal
      </a>
    </div>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search..." id="search-input">
        <i class="search icon"></i>
      </div>
    
  </div>
</nav>
