<header class="ui basic very padded segment dream-header">
  {{ if isset .Site.Params "avatar" }}
    {{ if .Site.Params.roundAvatar }}
      <div class="ui small circular image">
        <img src="{{ .Site.Params.avatar | relURL }}" alt="avatar" />
      </div>
    {{ else }}
      <div class="ui small image">
        <img src="{{ .Site.Params.avatar | relURL }}" alt="avatar" />
      </div>
    {{ end }}
  {{ end }}
  
<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/png" />

  <div class="content">
    <h1 class="ui extra-large header">
      {{- if .Site.Params.headerTitle -}}
        {{- .Site.Params.headerTitle -}}
      {{- else -}}
        Set headerTitle in the config to display
      {{- end -}}
      <span class="sub header">{{- .Site.Params.motto | safeHTML -}}</span>
    </h1>


<script>
  // Ensure Semantic UI dropdown activates
  $(document).ready(function() {
    $('.ui.dropdown').dropdown();
  });
</script>
